* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-image: url(tacos.jpg);
  background-size: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  gap: 2rem;
  height: 100vh;
}

h1 {
  margin: 2rem auto;
  text-align: center;
  color: whitesmoke;
}

.card {
  background-color: blanchedalmond;
  border: 4px solid black;
  border-radius: 8px;
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:hover {
  transform: rotateY(180deg);
}

.card:hover .front {
  display: none;
}

.card:hover .back {
  display: block;
}

/* Hides the back text */
.back {
  display: none;
  transform: rotateY(180deg);
}

.front,
.back {
  /* Hides the flipped backwards text in the middle of the transformation */
  backface-visibility: hidden;
}
