@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --brown: rgb(71, 43, 11);
  --dark-brown: rgb(49, 30, 7);
  --graph-bg: #000;
  --default-square-bg: #161b22;
  --level3: darkblue;
  --level5: blue;
  --level10: lightskyblue;
}

body {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-image: url(tacos.jpg);
  background-size: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  gap: 2rem;
  height: 100vh;
}

h1 {
  margin: 2rem auto;
  text-align: center;
  color: white;
  font-size: 48px;

  text-shadow: 2px 3px 4px black;
}

.card {
  background-color: blanchedalmond;
  border: 4px solid black;
  border-radius: 8px;
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:hover {
  transform: rotateY(180deg);
}

/* Hides the front content on hover */
.card:hover .front {
  display: none;
}

/* Shows the back of card on hover */
.card:hover .back {
  display: block;
}

/* Hides the back text (when not on hover) */
.back {
  display: none;
  transform: rotateY(180deg);
}

.front,
.back {
  /* Hides the flipped backwards text in the middle of the transformation. Removes the mirrored 'ghost text'. */
  backface-visibility: hidden;
}

/* ----------- TACO ANIMATION SECTION ---------- */
.animation-container {
  margin: 10rem 0;
}

.taco {
  position: relative;
  left: 100px;
  width: 260px;
  height: 180px;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.4));
  transform: rotate(-25deg);
}

.plate {
  background: #e5e5e5;
  width: 280px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: -10px;
  box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}

.shell {
  width: 240px;
  height: 130px;
  background: linear-gradient(#f7d276, #e5b54f);
  border-radius: 140px 140px 20px 20px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  box-shadow: inset 0 -20px 25px rgba(0, 0, 0, 0.2);
}

.lettuce {
  width: 200px;
  height: 40px;
  background-color: #92d36e;
  position: absolute;
  top: 35px;
  left: 30px;
  border-radius: 50px;
  transform: rotate(-8deg);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.meat {
  width: 180px;
  height: 35px;
  background: #8b3f32;
  position: absolute;
  top: 55px;
  left: 40px;
  border-radius: 30px;
}

.cheese {
  width: 160px;
  height: 15px;
  background: #ffd86d;
  position: absolute;
  top: 70px;
  left: 50px;
  border-radius: 20px;
  transform: rotate(5deg);
}

.tomatoes {
  width: 18px;
  height: 18px;
  background: #e45454;
  border-radius: 50%;
  position: absolute;
  top: 48px;
  left: 130px;
  box-shadow: 20px 5px 0 #e45454, -25px 10px 0 #e45454, 40px -12px 0 #e45454,
    30px -16px 0 #e45454;
}
/* Box-shadow above creates 3 more 'tomatoes', separated by commas */

/* -------- Further Learning Section -------- */
.trivia-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  align-content: center;
}

.trivia-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.trivia-text {
  margin-right: 2rem;
}

.trivia-text h2 {
  font-size: 4rem;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.6);
}

.trivia-text p {
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 2rem;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.8);
}

/* Practice Chart */
.graph-container {
  background-color: blue;
}
.graph ul {
  color: white;
}
