@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

:root {
  --brown: rgb(71, 43, 11);
  --dark-brown: rgb(49, 30, 7);
}

body {
  /* background-color: rgba(0, 0, 0, 0.8); */
  background-image: url(tacos.jpg);
  background-size: cover;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 3rem;
  gap: 2rem;
  height: 100vh;
}

h1 {
  margin: 2rem auto;
  text-align: center;
  color: white;
  font-size: 48px;

  text-shadow: 2px 3px 4px black;
}

.card {
  background-color: blanchedalmond;
  border: 4px solid black;
  border-radius: 8px;
  height: 200px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 1s;
}

.card:hover {
  transform: rotateY(180deg);
}

/* Hides the front content on hover */
.card:hover .front {
  display: none;
}

/* Shows the back of card on hover */
.card:hover .back {
  display: block;
}

/* Hides the back text (when not on hover) */
.back {
  display: none;
  transform: rotateY(180deg);
}

.front,
.back {
  /* Hides the flipped backwards text in the middle of the transformation. Removes the mirrored 'ghost text'. */
  backface-visibility: hidden;
}

/* ----------- TACO ANIMATION SECTION ---------- */
.animation-container {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.taco {
  position: relative;
  width: 260px;
  height: 180px;
  filter: drop-shadow(0 10px 15px rgba(0, 0, 0, 0.4));
}

.plate {
  background: #e5e5e5;
  width: 280px;
  height: 40px;
  position: absolute;
  bottom: 0;
  left: -10px;
  box-shadow: inset 0 6px 12px rgba(0, 0, 0, 0.2);
}

.shell {
  width: 240px;
  height: 130px;
  background: linear-gradient(#f7d276, #e5b54f);
  border-radius: 140px 140px 20px 20px;
  position: absolute;
  bottom: 20px;
  left: 10px;
  box-shadow: inset 0 -20px 25px rgba(0, 0, 0, 0.2);
}
